%display-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}


%has-only-margin-bottom {
  margin: 0 0 gap();
}


%has-splash-font {
  font-family: helvetica, arial, sans-serif;
}


%has-subtle-border-radius {
  border-radius: 3px;
}


%font-stack-serif {
  font-family: georgia, times, "times new roman", serif;
}

%gutter {
  padding-left: gap();
  padding-right: gap();
}