.banner {
  padding: gap(1, -1px) columns() 0;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 1px $white;
  text-align: center;
  position: relative;

  @include media (1024px) {
    text-align: justify;

    &:after {
      width: 100%;
      content: "";
      display: inline-block;
    }
  }
}

  .banner-title {
    width: gap(4);
    height: gap(4);
    @extend %has-only-margin-bottom;
    background-color: $primary;
    border-radius: 50%;
    line-height: gap(4);
    @extend %is-inline-block-top;

    @include media (1024px) {
      margin-bottom: 0;
    }

    > a {
      @include text(3.25);
      color: $white;
      @extend %is-inline-block-top;
    }
  }

  .banner-details {
    width: 100%;
    @extend %has-only-margin-bottom;
    @include text(.8);
    color: $mid-grey;
    @extend %is-inline-block-top;

    @include media (1024px) {
      width: auto;
    }

    &:first-child {
      color: $primary;
    }
  }

    .banner-detail > b {
      color: $primary;
    }