.banner {
  padding: gap(1, -1px) columns(1) 0;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 1px $white;
  position: relative;

  @include media-query($max: $tab) {
    text-align: center;
  }

  @include media-query($max: $lap) {
    padding-left: 0;
    padding-right: 0;
  }
}

  .banner-title {
    @extend %has-only-margin-bottom;
    @extend %display-inline-block;

    width: gap(4);
    height: gap(4);
    background-color: $white;
    border-radius: 50%;
    line-height: gap(4);

    @include media-query($lap) {
      margin-bottom: 0;
    }

    > a {
      @extend %display-inline-block;

      @include text(3.25);

      color: $white;
    }

    img[src*=".png"] {
      background-color: $primary;
    }
  }

  .banner-details {
    @extend %has-only-margin-bottom;
    @extend %display-inline-block;

    @include text(.8);

    color: $mid-grey;

    @include media-query($lap) {
      text-align: right;
    }

    &:first-child {
      color: $primary;
    }
  }

    .banner-detail > b {
      color: $primary;
    }