.media {
  @extend %has-only-margin-bottom;
  padding: gap(.95833);
  background-color: $white;
  border: 1px solid $light-grey;
  @extend %has-subtle-border-radius;
}

  .media-img {
    width: 100%;
    height: auto;
    @extend %has-subtle-border-radius;
    @extend %display-inline-block;

    //  this is used for picturefill
    > img {
      width: 100% !important;
    }
  }

  .media-desc {
    padding-top: gap();
    @include text(.8);
    @extend .is-aligned-right;
    color: $mid-grey;
  }