.nav {
  @extend %has-only-margin-bottom;
  @extend %display-inline-block;

  @include media-query($lap) {
    text-align: right;
  }

  > ul {
    padding-left: 0;
  }
}

.nav-is-horizontal {
  font-size: 0;

  > * {
    @include text();
  }

  .nav-item {
    margin-right: gap();
    @extend %display-inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

  .nav-item {
    font-weight: bold;
    @include transition("color .5s, border-bottom-width .5s, padding-bottom .5s");
  }