.splash {
  margin-bottom: gap(-9);
  padding: gap(2) gap() gap(10);
  background: transparent url("../images/bgs/splash_photo.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
  color: $white;

  > p {
    text-shadow: 0 1px rgba(0, 0, 0, .25);
    text-align: center;
  }
}

  .splash-title {
    @extend %has-only-margin-bottom;
    @extend %has-splash-font;

    @include text(3);

    @include media-query($max: $tab) {
      @include text(1.5);
    }

    font-weight: 300;
    text-shadow: 0 1px rgba(0, 0, 0, .25), 
                 0 2px rgba(0, 0, 0, .2),
                 0 3px rgba(0, 0, 0, .15),
                 0 4px rgba(0, 0, 0, .1),
                 0 5px rgba(0, 0, 0, .05);
    letter-spacing: -2px;
  }

