%is-inline-block-top {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}


%has-only-margin-bottom {
  margin: 0 0 line();
}


%has-splash-font {
  font-family: lobster, helvetica, arial, sans-serif;
}


%has-subtle-border-radius {
  border-radius: 3px;
}


%font-stack-serif {
  font-family: georgia, times, "times new roman", serif;
}