%is-inline-block-top {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  vertical-align: top;
}


%has-only-margin-bottom {
  margin: 0 0 gap();
}


%has-splash-font {
  font-family: lobster, helvetica, arial, sans-serif;
}


%has-subtle-border-radius {
  border-radius: 3px;
}


%font-stack-serif {
  font-family: georgia, times, "times new roman", serif;
}


%justify-trick {
  text-align: justify;

  &:after { 
    width: 100%;
    content: "";
    display: inline-block;
  }
}