.has-border-bottom { 
  margin-bottom: gap();
  padding-bottom: gap(.9583);
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 1px $white;
}


.is-aligned-centre {
  text-align: center;
}


.is-aligned-right {
  text-align: right;
}


.is-sub-title {
  @extend %font-stack-serif;
  color: $primary;
}


.is-minor-title {
  @extend %font-stack-serif;
  font-variant: normal;
  color: $mid-grey;
}