//  sets all element's box-sizing to border-box.
* { 
  @each $vendor in $vendors {
    #{$vendor}box-sizing: border-box;
  }
}

//  removes the glow from focused elements, normally text fields
:focus { 
  outline: none; 
}

html { 
  font-size: $font-size; 
  line-height: $line-height;
  overflow-y: scroll;
}

body { 
  background-color: $off-white;
  font-family: helvetica, arial, sans-serif;
  color: $dark-grey; 
}

hr {
  margin: -1px 0 gap(.9583);
  border: 1px solid;
  border-color: $light-grey $white $white $white;
}

ul, ol { 
  margin: 0; 
  padding-left: gap();
}