.banner {
  padding-left: columns();
  padding-right: columns();
  background-color: $white;
  border-color: $light-grey;
  position: relative;
}

  .banner-title {
    width: line(4);
    height: line(4);
    margin-right: line();
    @extend %has-only-margin-bottom;
    background-color: $primary;
    border-radius: 50%;
    line-height: line(4);

    > a { 
      @extend %has-splash-font;
      @include text(3.25);
      @include transform(skewY(-10deg));
      color: $white;
      @extend %is-inline-block-top;
      position: relative;
      top: 4px;
      left: 4px;
    }
  }

  .nav {
    padding-top: line(1.75);
    position: absolute;
    right: columns();
  }

    .nav-item {
      @include text(1.25);
    }
  

.splash {
  background: url("../images/bgs/splash_photo.jpg") no-repeat top center;
  background-size: 100% auto;
  color: $white;
}


.content {
  margin: 0 columns(4);
  background-color: $off-white;
}