.banner {
  padding-left: columns();
  padding-right: columns();
  background-color: $white;
  border-color: $light-grey;
  text-align: center;
  position: relative;
}

  .banner-title {
    width: line(4);
    height: line(4);
    background-color: $primary;
    border-radius: 50%;
    line-height: line(4);

    > a { 
      @extend %has-splash-font;
      @include text(3.25);
      @include transform(skewY(-10deg));
      color: $white;
      @extend %is-inline-block-top;
      position: relative;
      top: 4px;
      left: 4px;
    }
  }

    .banner-detail {
      color: $mid-grey;

      &:first-child {
        color: $primary;
      }

      > b {
        color: $primary;
      }
    }


.nav {
  width: 100%;
  @extend %has-only-margin-bottom;
}
  

.splash {
  background: url("../images/bgs/splash_photo.jpg") no-repeat top center;
  background-size: cover;
  color: $white;
}


.content {
  background-color: $off-white;
}